<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="col-sm-8 review-container">
      <div class="row">
        <span class="calc-to-hide">
          <%= ratingSum = 0 %>
          <%= ratingCount = 0 %>
          <% @product.reviews.each do |review| %>
            <%= ratingSum += review.rating %>
            <%= ratingCount += 1 %>
          <% end %>
          <% if ratingCount == 0 %>
            <%= ratingAvg = 0 %>
          <% else %>
            <%= ratingAvg = (ratingSum.to_f / ratingCount.to_f) %>
          <% end %>
        </span>
        <dt>Average Rating</dt>
        <dd><%= ((ratingAvg * 10).to_i.to_f)/10 %>

        <% @product.reviews.reverse.each do |review| %>
          <div class="review-list">
            <dt>Reviewer</dt>
            <dd><%= User.find(review.user).firstname%> <%= User.find(review.user).lastname%></dd>
            <dt>Rating</dt>
            <dd><%= review.rating %></dd>
            <dt>Description</dt>
            <dd><%= review.description %></dd>
            <% if current_user %>
              <% if review.user.id == current_user.id  %>
                <div id="delrev">

                   <%= link_to fa_icon('trash'), product_review_path(@product, review.id), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <%= form_for [@product, @review] do |review| %>
          <div> <%= review.label :rating %> </div>
          <div> <%= review.select :rating, [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]]  %> </div>
          <div> <%= review.label :description %> </div>
          <div> <%= review.text_area :description %> </div>
          <div class="submit__button"> <%= review.submit "Submit Review" %> </div>
        <% end %>
      </div>
    </div>

  </article>

</section>
